.config/oh-my-zsh/
.config/libfm/
.config/syncthing/
.config/vlc/
.config/chromium/
.config/font-manager/
.config/htop/
.config/pcmanfm/
.config/procps/
.config/pulse/
.config/go/
.config/dconf/
.config/timewarrior/
.config/geany/
.config/tmux/plugins/
.config/libreoffice/
.config/Code - OSS/
.config/foot/
.config/transmission-daemon/
.config/systemd/
.config/waybar/
.config/sway/
.config/neofetch/
.config/QtProject.conf
.config/pavucontrol.ini
.config/inkscape/
.config/mc/
.config/polybar/
.config/yandex-browser/
.config/nvim/lazy-lock.json
